.sidebar-nav.affix(role="complementary")
  %ul.nav#group_summary
    %li.col-md-3
      = image_tag "group_icons/earth.jpg", id: 'group-icon'
    %li.col-md-9
      #group-name
    %li(style="clear:both")
    %li.col-md-12
      .form-group
        #group-explain
  %ul.nav.nav-pills.nav-stacked#group_list
    %li
      = link_to groups_path,class:"btn btn-info" do
        %span.glyphicon.glyphicon-plus-sign
          グループ参加
    - groups.each do |group|
      %li= group_link_tag group