#message_box.row
  = form_tag messages_path, remote: true do
    = hidden_field_tag 'group_id',group_id,id:"group_id#{group_id}"
    .form-group
      = text_area nil, nil, name: "message",class: "form-control",placeholder: 'どういうことや、工藤',id:"mb#{group_id}",cols:"113",rows:"3"
    .btn-group#action-btn-area
      %button.btn.btn-default
        %span.glyphicon.glyphicon-file
        ファイル
      %button.btn.btn-default
        %span.glyphicon.glyphicon-picture
        写真
      %button.btn.btn-default
        %span.glyphicon.glyphicon-film
        動画
      %button.btn.btn-primary
        %span.glyphicon.glyphicon-pencil
        投稿