- messages.each do |message|
  .row(data-message-id="#{message.id}")
    .col-md-1
      = image_tag "profile_icons/mini/#{message.user.profile.icon}"
    .col-md-11
      %p
        %b
          = message.user.profile.name
        %span.pull-right
          = l message.created_at
      = message.text