.container
  .col-sm-offset-4.col-sm-4
    = simple_form_for @profile ,html: {class: 'form-horizontal',multipart: true } do |f|
      - if @profile.errors.any?
        #error_explanation
          %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
          %ul
            - @profile.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.input :name, placeholder: 'あの方', input_html: {class: "form-control",maxlength: 20}

      .form-group
        = f.label :icon
        = file_field_tag 'icon_img', data: {bind: "event: {change: change_preview}"}
        = profile_icon_img_tag
      .form-group
        = f.submit '更新する',class:"btn btn-primary btn-mini"
        = link_to "戻る",root_path,class:"btn btn-default btn-mini"