%p#notice= notice

%p
  %b User:
  = @profile.user_id
%p
  %b Name:
  = @profile.name
%p
  %b Icon:
  = @profile.icon

= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', profiles_path
