.container
  .col-sm-offset-2.col-sm-8
    .panel.panel-primary
      .panel-heading.panel_header アカウント登録
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), |
        html: {class: 'form-horizontal', role: "form",:method => :post}) do |f|                               |
        = f.error_notification
        .form-group
          = f.label :email, class: "col-sm-4 control-label col-xs-5"
          .col-sm-5.col-xs-4
            = f.input :email, :required => true, autofocus: true, label: false, placeholder: 'email@email.com', input_html: {class: "form-control"}
        .form-group
          = f.label :password, class: "col-sm-4 control-label col-xs-5"
          .col-sm-5.col-xs-4
            = f.input :password, :required => true, label: false, placeholder: 'password', input_html: {class: "form-control"}
        .form-group
          = f.label :password_confirmation, class: "col-sm-4 control-label col-xs-5"
          .col-sm-5.col-xs-4
            = f.input :password_confirmation, :required => true, label: false, placeholder: 'password', input_html: {class: "form-control"}
        .form-group
          .col-sm-offset-4.col-xs-3.col-sm-3
            = f.button :submit, "登録", class: "btn btn-primary form-control"

        = render "devise/shared/links"
