= form_for @attach_file do |f|
  - if @attach_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@attach_file.errors.count, "error")} prohibited this attach_file from being saved:"
      %ul
        - @attach_file.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
