.container
  .col-sm-offset-4.col-sm-4
    = simple_form_for @group ,html: {class: 'form-horizontal',multipart: true } do |f|
      - if @group.errors.any?
        #error_explanation
          %h2= "#{pluralize(@group.errors.count, "error")} prohibited this profile from being saved:"
          %ul
            - @group.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.input :name, placeholder: 'ドーバー海峡', input_html: {class: "form-control",maxlength: 20}
      .form-group
        = f.label :explain
        = f.text_area :explain, id:"explain-text",class: "form-control",placeholder: '真実はいつも一つ'
      .form-group
        = f.label :icon
        = file_field_tag 'icon_img', data: {bind: "event: {change: change_preview}"}
        = group_icon_img_tag
      .form-group
        = f.submit '更新する',class:"btn btn-primary btn-mini"
        = link_to "戻る",root_path,class:"btn btn-default btn-mini"
