#join_modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(data-dismiss="modal" aria-hidden="true")
          &times;
        %h4.modal-title
          グループ参加
      = form_tag groups_users_path do
        .modal-body
          .container
            .col-sm-offset-4.col-sm-4
              .form-group
                = label_tag 'group_code',"グループコード"
                = text_field_tag 'group_code', '',class: 'form-control', placeholder: 'groupcode',maxlength: 10
        .modal-footer
          = submit_tag '閉じる',class:"btn btn-default", data: {dismiss: "modal"}
          %button.btn.btn-primary
            登録
