#new_modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(data-dismiss="modal" aria-hidden="true")
          &times;
        %h4.modal-title
          グループ作成
      = simple_form_for @group ,html: {class: 'form-horizontal',multipart: true } do |f|
        .modal-body
          .container
            .col-sm-offset-4.col-sm-4
              .form-group
                = f.input :name, placeholder: 'ドーバー海峡', input_html: {class: "form-control",maxlength: 20}
              .form-group
                = f.label :explain
                = f.text_area :explain, id:"explain-text",class: "form-control",placeholder: '真実はいつも一つ'
              .form-group
                = f.label :icon
                = file_field_tag 'icon_img', data: {bind: "event: {change: change_preview}"}
                = group_icon_img_tag
        .modal-footer
          = f.submit '閉じる',class:"btn btn-default", data: {dismiss: "modal"}
          %button.btn.btn-primary
            登録