.container
  %blockquote.border_bottom
    %span.text-info
      グループ設定
  .form-group
    .btn-group
      = link_to "新しくグループを作る","#new_modal",class:"btn btn-primary", data: {toggle: "modal"}
      = link_to "グループコードを使用してグループに参加する","#join_modal",class:"btn btn-success", data: {toggle: "modal"}
  = render :partial => 'new_group_modal'
  = render :partial => 'join_group_modal'

  %table.table.table-hover
    %tr
      %th グループ名
      %th オーナー
      %th 説明
      %th
    - @groups.each do |group|
      %tr
        %td
          = image_tag  group.icon_mini
          = group.name
        %td
          = image_tag  group.owner_icon
          = group.owner_name
        %td= group.explain
        %td= link_to 'Show', group
