.container
  .col-sm-offset-2.col-sm-8
    .panel.panel-primary
      .panel-heading.panel_header パスワードをお忘れですか？
      = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), |
        html: {class: 'form-horizontal', role: "form",:method => :post}) do |f|                               |
        = f.error_notification
        .form-group
          = f.label :email, class: "col-sm-3 control-label col-xs-4"
          .col-sm-5.col-xs-4
            = f.input :email, :required => true, autofocus: true, label: false, placeholder: 'email@email.com', input_html: {class: "form-control"}
        .form-group
          .col-sm-offset-3.col-xs-6.col-sm-6
            = f.button :submit, "新しくパスワードを取得する", class: "btn btn-primary form-control"

        = render "devise/shared/links"

