.container.navbar-fixed-top
  .navbar.navbar-default
    .navbar-header
      = link_to "Ringo Leaf（仮）", root_path, {class: "navbar-brand"}
    - if user_signed_in?
      %ul.nav.navbar-nav.pull-right
        %li.dropdown
          %a.drop-down-toggle(href="#" data-toggle="dropdown")
            %span.glyphicon.glyphicon-user
            = render_login_user
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to edit_profile_path(1) do
                %span.glyphicon.glyphicon-edit
                プロフィール設定
            %li
              = link_to destroy_user_session_path, method: :delete do
                %span.glyphicon.glyphicon-off
                "ログアウト"