.container
  %blockquote.border_bottom
    %span.text-info
      設定
.container
  .col-sm-7
    .panel.panel-primary
      .panel-heading.panel_header プロフィール
      .form-group
        .col-sm-2.col-xs-2
          %span 名前
        .col-sm-10.col-xs-10
          = @profile.display_name
      .form-group
        .col-sm-2.col-xs-2
          アイコン
        .col-sm-10.col-xs-10
          = @profile.image_icon
      .form-group.col-sm-offset-5.col-xs-offset-5
        = profile_link

  .col-sm-5
    .panel.panel-primary
      .panel-heading.panel_header ユーザー情報

