.container
  .col-sm-offset-2.col-sm-8
    .panel.panel-primary
      .panel-heading.panel_header ログイン
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), |
        html: {class: 'form-horizontal', role: "form"}) do |f|                               |
        = f.error_notification
        .form-group
          = f.label :email, class: "col-sm-3 control-label col-xs-4"
          .col-sm-5.col-xs-4
            = f.input :email, :required => false, autofocus: true, label: false, placeholder: 'email@email.com', input_html: {class: "form-control"}
        .form-group
          = f.label :password, class: "col-sm-3 control-label col-xs-4"
          .col-sm-5.col-xs-4
            = f.input :password, :required => false, label: false, placeholder: 'password', input_html: {class: "form-control"}
        .form-group
          .checkbox.col-sm-offset-3.col-xs-offset-4{:style => "padding-left:30px;"}
            %label
              = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
        .form-group
          .col-sm-offset-3.col-xs-3.col-sm-3
            = f.button :submit, "ログイン", class: "btn btn-primary form-control"

        = render "devise/shared/links"
