// Place all the styles related to the dashbord controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message_tab {
  position: relative;
  .row {
    padding: 1em 0;
    span {
      color: #aaa;
      font-size: 0.8em;
    }
  }
  .mine_message {
    background-color: #6495ED;
    color: #fff;
  }
  #message_box {
    position: fixed;
    top: 3.7em;
    height: 12em;
    padding: 1em 2em 2em 2em;
    background-color: #f8f8f8;
    border-bottom: 0 solid;
    z-index: 2;
    textarea {
      width: 100%;
      resize: none;
    }
  }
  .list {
    margin-top: 10em;
  }
}

#group_summary {
  height: 12em;
}


