!!!
%html
  %head
    %title Tuna
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag controller_name, "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'shared/navigation_bar'
    = yield
